:root {
  --color-success: rgba(38, 114, 3, 0.8);
  --color-error: rgba(220, 0, 0, 0.8);

}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.error {
      color: var(--color-error);

      input {
        box-shadow: 0 0 3px 1px var(--color-error);
      }
    }

    &.correct {
      color: var(--color-success);

      input {
        box-shadow: 0 0 3px 1px var(--color-success);
      }
    }

    &:not(:first-child) {
      label {
        margin-top: 20px;
      }
    }
  }

  label {
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 5px;
    //margin-bottom: 15px;
    transition: all ease-in-out .3s;
    //border: 1px solid #bababa;
    border: none;
    //border-radius: 2px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
  }

  input[type="submit"] {
    margin: 20px 0 0;
  }

  input:focus,
  input:active {
    border: none;
    outline: none;
    transition: all ease-in-out .3s;
    box-shadow: 0 0 3px 1px rgb(0, 120, 176);
  }

  .feedback {
    font-size: 12px;
    margin: 4px 0 0;
  }
}